.case-study-title {
  color: var(--secondary-black, #1a1a1a);
}

.case-study-container-p {
  color: var(--fourth-black, #4c4c4c);
}

.read-case-stude-button {
  display: inline-flex;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: white;
  color: var(--third-black, #333);
  cursor: pointer;
  transition: all 0.4s ease;
}

.case-study-image-box {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  transition: all 0.4s ease;
}

/* Hover effects */
.containerwithimage:hover .case-study-image-box {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.containerwithimage:hover .read-case-stude-button {
  background-color: var(--secondary-black);
  color: #fff;
  padding: 12px 24px;
}

.case-study-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}

.containerwithimage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10%;
}

.image-wrapper-case {
  width: 40%;         /* or fixed width */
  height: auto;       /* fixed height */
  overflow: hidden;    /* hides overflow */
  position: relative;
}

.image-wrapper-case img {
  width: 100%;
  height: auto;
  object-fit: cover;   /* keeps aspect ratio */
  transition: transform 0.5s ease;
}

.image-wrapper-case:hover img {
  transform: scale(1.2); /* zoom only image */
}



/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .containerwithimage {
    flex-direction: column;   /* stack image & text */
    align-items: start;
    gap: 20px;
  }

  .case-study-container {
    width: 100%;              /* full width for text */
    align-items: start;       /* center align text */
    text-align: start;
  }

  .image-wrapper-case {
    width: 100%;               /* image takes full width */
    max-width: 400px;          /* optional: limit size */
  }

  .read-case-stude-button {
    padding: 12px 18px;        /* button balanced */
  }
}
