@import url("typo.css");
.container {
  width: 100%;
  /* max-width: 1200px;     or 1440px for large layouts */
  margin: 0 auto; /* center align */
  padding: 0 5%; /* ← your horizontal margin */
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 16px;
  }
}


/* Apply to body or container */
body {
  overflow-y: scroll; /* keeps scrolling */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  overflow-y: hidden;
}
